body {
	display: flex;
	flex-direction: column;
}

body.alt-palette {
	background: black;
	color: #00FF80;
	border-color: #00FF80;
}

body.game-started .show-unless-game-started,
body:not(.game-started) .show-if-game-started,
body.game-paused .show-unless-game-paused,
body:not(.game-paused) .show-if-game-paused,
body.game-travelling .show-unless-game-travelling,
body:not(.game-travelling) .show-if-game-travelling
{
	display: none;
}

button {
	font-size: 72px;
}

#title {
	text-align: center;
}

#title button#togglePalette {
	font-size: 32px;
}

#title h1 {
	font-family: 'VT323', monospace;
	font-size: 72px;
	margin: 0;
}

.control-panel {
	position: relative;
	border-radius: 25px;
    border: 2px solid;
	font-size: 144px;
	/*width: 80%;*/
	/*max-width: 800px;*/
	margin: 20px;
	text-align: center;
	padding: 20px;	
}

.timer {
	font-family: 'VT323', monospace;
	min-height: 144px;
}
